---
repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.62.3
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
      - id: terraform_tflint

  - repo: https://github.com/terraform-docs/terraform-docs
    rev: v0.17.0
    hooks:
      - id: terraform-docs-system
        args: ["./examples/network_groups"]
      - id: terraform-docs-system
        args: ["."]

  - repo: https://github.com/terraform-docs/terraform-docs
    rev: v0.17.0
    hooks:
      - id: terraform-docs-system
        args: ["./templates"]
      - id: terraform-docs-system
        args: ["."]